@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-image: url('https://blog.kakaocdn.net/dn/N8Z9X/btqFNONgQp5/nc8p68d2hpRkIfMU0WzIi0/img.jpg');
    /* background-color: #282c34; */
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* font-size: calc(10px + 2vmin); */
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.login-box {
    background-image: url('./../../delluna.jpeg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-login {
    width: 100%;
    background-color: #02acd0;
    border-color: #02acd0;
}

.card-header h3 {
    /* color: #e2bcb7; */
    color: #ed8984;
}